<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="favicon" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<title>{% block title %} {% endblock %}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
	<header
		class="sticky-top bg-white d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-5 shadow-sm">
		<a href="{{url_for('menu')}}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
			<img src="{{ url_for('static', filename='img/logoSmall.png') }}" alt="Sic24" />
		</a>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li><a href="{{url_for('menu')}}" class="nav-link px-2 link-secondary">Inicio</a></li>
			<li class="nav-item dropdown">
				<a class="nav-link px-2 link-dark dropdown-toggle" href="#" id="scannersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Herramientas
				</a>
				<ul class="dropdown-menu gap-2 p-2 rounded-3 mx-0 shadow w-220px" aria-labelledby="scannersDropdown">
					<li><a href="{{url_for('mac')}}" class="dropdown-item rounded-2">Mac</a></li>
					<li><a href="{{url_for('ping')}}" class="dropdown-item rounded-2">Ping</a></li>
					<li><a href="{{url_for('port_scanner')}}" class="dropdown-item rounded-2">Puertos</a></li>
					<li><a href="{{url_for('service_scanner')}}" class="dropdown-item rounded-2">Servicios</a></li>
				</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link px-2 link-dark dropdown-toggle" href="#" id="scannersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Recursos
					</a>
					<ul class="dropdown-menu gap-2 p-2 rounded-3 mx-0 shadow w-220px" aria-labelledby="scannersDropdown">
						<li><a href="http://gofile.me/40I3s/q8ys3xH40" target="_blank" class="dropdown-item rounded-2">General</a></li>
						<li><a href="http://gofile.me/40I3s/TiJ2cmgTq" target="_blank" class="dropdown-item rounded-2">Software</a></li>
						<li><a href="http://gofile.me/40I3s/1t5x4gD7w" target="_blank" class="dropdown-item rounded-2">Firmware</a></li>
						<li><a href="http://gofile.me/40I3s/lIxkEZ8TN" target="_blank" class="dropdown-item rounded-2">Manuales</a></li>
						<li><a href="http://soporte.sic24.com" target="_blank" class="dropdown-item rounded-2">Soporte</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link px-2 link-dark dropdown-toggle" href="#" id="scannersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Hojas de Programación
					</a>
					<ul class="dropdown-menu gap-2 p-2 rounded-3 mx-0 shadow w-220px" aria-labelledby="scannersDropdown">
						<li><a href="{{url_for('cctv')}}" class="dropdown-item rounded-2">CCTV</a></li>
						<li><a href="{{url_for('robo')}}" class="dropdown-item rounded-2">Robo</a></li>
					</ul>
				</li>

			{% if current_user.is_authenticated %}
				<li><a href="{{url_for('logout')}}" class="nav-link px-2 link-dark">Logout</a></li>
				<li><a href="{{url_for('register')}}" class="nav-link px-2 link-dark">Register</a></li>
			{% else %}
				<li><a href="{{url_for('login')}}" class="nav-link px-2 link-dark">Login</a></li>
			{% endif %}
		</ul>
		<div class="col-md-3 text-end">
			
		</div>

	</header>
	{% block body %}
	
	{% block content %} {% endblock %}

	{% endblock %}

	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<p class="col-md-4 mb-0 text-muted">© 2022 SIC24</p>

			<a href="{{url_for('menu')}}"
				class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
				<img src="{{ url_for('static', filename='img/logoSmall.png') }}" alt="Sic24"/>
			</a>

			<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item"><a href="{{url_for('menu')}}" class="nav-link px-2 text-muted">Inicio</a></li>
				<li class="nav-item"><a href="{{url_for('port_scanner')}}" class="nav-link px-2 text-muted">Escáner puertos</a></li>
				<li class="nav-item"><a href="{{url_for('service_scanner')}}" class="nav-link px-2 text-muted">Escáner servicios</a></li>
				<li class="nav-item"><a href="{{url_for('mac')}}" class="nav-link px-2 text-muted">Mac</a></li>
				<li class="nav-item"><a href="{{url_for('ping')}}" class="nav-link px-2 text-muted">Ping</a></li>
			</ul>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>