{% extends 'layout.html' %}

{% block title %} Solicitar Email {% endblock %}

{% block content %}

<div class="container py-5">
    <div class="form-floating mb-3">
        <form action="/request_email" method="POST">
            <div class="form-group">
                <label>E-Mail:</label>
                <input type="text" class="form-control" name="email">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Enviar código de verificación</button>
            </div>
            <br>
            <div class="form-group">
                <a href="{{url_for('home')}}" class="w-100 btn btn-lg btn-primary">Volver al inicio</a>
            </div>
        </form>
    </div>
    <div class="alert alert-danger" id="error-message">{{ error }}</div>
</div>

<script>
    var error = "{{ error }}";
    document.getElementById("error-message").style.visibility ="hidden";
    if (error) {
        document.getElementById("error-message").innerHTML = error;
        document.getElementById("error-message").style.visibility = "visible";
    }
</script>

{% endblock %}